

  /* .emoji{
    font-size: 8vw;
  
  } */

@media (max-width: 600px) {
  .caro{
    font-size: 22vw;
  }
  .emoji{
    font-size: 8vw;
  
  }
   strong{
    font-size: 7vw;
   }
  
   #year{
     font-size: 6vw;
     width: 23%;
     font-family: Arial, Helvetica, sans-serif;
  color: red;
   }
   .container{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  }
  


@media (min-width: 600px) {
  .caro{
    font-size: 130px;
  }
  .emoji{
    font-size: 48px;
  
  }

  strong{
    font-size: 42px;
   }
  svg{
    width: 600px;
  }
  #year{
    font-size: 38px;
    position:absolute;
    width: 700px;
    font-family: Arial, Helvetica, sans-serif;
  color: red;
  }

  
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  
}


strong{
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

/* .caro{
  font-size: 24vw;

}
.emoji{
  font-size: 8vw;

} */





/* 
body {
  margin: 0;
  padding: 0;
  font: 24px arial, sans-serif;
  text-align: center;
}
#muy{
  font-family: 'vi_thuy_tien_hoanormal';
}
.container {
  overflow: hidden;
}

span{
  font-family: 'vi_thuy_tien_hoanormal';
        }
    strong{
      font-family: Arial, Helvetica, sans-serif;
      color: red;
    }

.content {
  
  padding: 20px;
}

@media (min-width: 40em) {

  .content {
    float: left;
    width: 100%;
  }
}

.p {
  font-size: 13px;
  padding-top: 120px;
} */