

  @media  (min-width: 480px) {
    .caro{
      font-size: 230px;
      text-transform: uppercase;
      line-height: 200px;
    }
    .emoji{
      font-size: 8vw;
    }
     .date{
      left: 6;
     }
     svg{
       position: static;
     }
     strong{
      font-family: Arial;
      color: red;}

      #year{
        font-family: Arial;
        color: red;}
        line-height: 200px;


      }
      .footer{
        font-family: Arial;
        font-size: 10px;
      }
     }

    }
  

  